<!-- hero section -->
<section class="bg-white ">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="m-auto place-self-center lg:col-span-6">
            <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-black">
                Explorez les événements récents de votre ville. Ne manquez plus le fun !</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Explorez
                une variété d'événements, de concerts, d'expositions d'art et plus encore, tous à portée de main.</p>
            <a href="#"
                class="transition ease-in-out hover:duration-150 inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-black rounded-lg bg-pink-300 hover:bg-pink-400 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                Commencer
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <a href="#"
                class="transition ease-in-out hover:duration-150 inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-black border border-pink-300 rounded-lg hover:bg-pink-300 focus:ring-4 focus:ring-gray-100 hover:shadow-lg">
                Votre ville
            </a>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-6 lg:flex">
            <img src="assets/images/Fun-event.svg" alt="event-fun">
        </div>
    </div>
</section>
<!-- hero section end -->

<!-- feature section -->
<section id="features"
    class=" w-full px-4 space-y-6 bg-gradient-to-bl from-white to-pink-100 py-8 md:py-12 lg:py-20 box-shadow">

    <div class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center">

        <h2 class="font-bold text-3xl leading-[1.1] sm:text-3xl md:text-6xl">Découvrez Nos Fonctionnalités</h2>

        <p class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7">
            Profitez d'une expérience personnalisée, trouvez rapidement les événements qui vous intéressent le plus.
        </p>

    </div>

    <div class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3">

        <div
            class="relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-[#E7FCF0] p-2">
            <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                <div class="space-y-2">
                    <h3 class="font-bold">Recherche et découverte d'événements personnalisés</h3>
                    <p class="text-sm text-muted-foreground">Trouvez des événements par catégorie, date, lieu, et
                        mots-clés.</p>
                </div>
            </div>
        </div>

        <div
            class="relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-[#E7FCF0] p-2">
            <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                <div class="space-y-2">
                    <h3 class="font-bold">Recommandations d'événements personnalisées</h3>
                    <p class="text-sm">Des suggestions basées sur vos goûts et habitudes passés.</p>
                </div>
            </div>
        </div>

        <div
            class="relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-[#E7FCF0] p-2">
            <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                <div class="space-y-2">
                    <h3 class="font-bold">Profils utilisateurs et suivi des intérêts</h3>
                    <p class="text-sm text-muted-foreground">Créez des profils pour enregistrer vos préférences et
                        suivre vos organisateurs et lieux préférés.</p>
                </div>
            </div>
        </div>

        <div
            class="relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-[#E7FCF0] p-2">
            <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                <div class="space-y-2">
                    <h3 class="font-bold">Achat de billets et inscription simplifiés</h3>
                    <p class="text-sm text-muted-foreground">Achetez des billets facilement et gérez vos inscriptions en
                        un seul endroit.</p>
                </div>
            </div>
        </div>

        <div
            class="relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-[#E7FCF0] p-2">
            <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                <div class="space-y-2">
                    <h3 class="font-bold">Fonctionnalités de communauté et d'interaction</h3>
                    <p class="text-sm text-muted-foreground">Connectez-vous avec d'autres participants, partagez vos
                        expériences et discutez des événements.</p>
                </div>
            </div>
        </div>

        <div
            class="relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-[#E7FCF0] p-2">
            <div class="flex h-[180px] flex-col justify-between rounded-md p-6">
                <div class="space-y-2">
                    <h3 class="font-bold">Application mobile pour une gestion pratique des événements</h3>
                    <p class="text-sm text-muted-foreground">Recherchez des événements, achetez des billets, gérez vos
                        inscriptions et restez informés depuis votre appareil mobile.</p>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- featuse section end  -->